@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #__next {
  height: 100%;
}

body {
  @apply bg-parchment text-gray-900 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

.img-hero {
  min-height: 60vh;
  object-fit: cover;
  width: 100%;
}
